<div style="margin-top: 24px">
    <div class="columns is-mobile is-pulled-right is-marginles">
        <div class="column is-8">
            <p>Use Ctrl + F to search</p>
        </div>
        <div>
            <button class="button is-success" @click="openEntryModal()">Edit Entries</button>
        </div>
    </div>
    <h1 class="title">Scoring</h1>
    <div class="columns">
        <div class="column is-half">
            <div class="control select">
                <select v-model="selectedShowId" @change="loadShowClasses()">
                    <option v-for="show in shows" v-bind:value="show.showId">
                        {{ show.name }}
                    </option>
                </select>
            </div>
            <div class="control select">
                <select v-model="selectedShowClassId" @change="loadScores()">
                    <option v-for="info in showClassInfo" v-bind:value="info.showClass.showClassId">
                        {{ info.showClass.name }}
                    </option>
                </select>
            </div>
        </div>
        <div class="column">
            Optimum Time
            <p class="has-text-weight-semibold">
                {{ showEntriesData.minutes }}:{{ showEntriesData.seconds }}.{{ showEntriesData.milliseconds }}
            </p>
        </div>
        <div class="column">
            Distance
            <p class="has-text-weight-semibold">
                {{ showEntriesData.distance }}
            </p>
        </div>
        <div class="column">
            Speed
            <p class="has-text-weight-semibold">
                {{ showEntriesData.speed }}
            </p>
        </div>
        <div class="column">
            <button class="button" @click="editShowClassInfo()">
                <span class="icon is-small">
                    <i class="fas fa-edit"></i>
                </span>
            </button>
        </div>
    </div>
    <hr>
    <table class="table is-striped is-responsive">
        <thead>
            <tr>
                <th class="is-hidden">ResultId</th>
                <th class="is-hidden">ShowId</th>
                <th class="is-hidden">ShowClassId</th>
                <th class="is-hidden">RiderId</th>
                <th>Rider</th>
                <th>Horse</th>
                <th>Type</th>
                <th>Ride Time (mm:ss.ms)</th>
                <th>Faults</th>
                <th><abbr title="Eliminated">E</abbr></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <scoring-row
                v-for="score in scores"
                :key="score.resultId"
                :result="score">
            </scoring-row>
        </tbody>
    </table>
    <div v-if="hasNoScores" class="content">
        <p>No entries in class. Click Add New Entry above to add one.</p>
    </div>
    <show-entry-modal
        v-if="showEntriesModal"
        :showClassInfo="showEntriesData"
        @addEntry="addEntry"
        @editEntry="editEntry"
        @deleteEntry="deleteEntry"
        @close="showEntriesModal = false">
    </show-entry-modal>
    <show-class-info-modal 
        v-if="showClassInfoModal"
        :showClassInfo="showEntriesData"
        :disableClassSelect="true"
        @close="showClassInfoModal = false">
    </show-class-info-modal>
</div>
