<div class="box">
    <h2 class="title is-4">{{ userRow.name }}</h2>
    <hr>
    <p><strong>Email:</strong> {{ userRow.email }}</p>
    <p><strong>Role:</strong> {{ userRow.role }}</p>
    <p><strong></strong></p>
    <div class="level">
        <div class="level-left"></div>
        <div class="level-right">
            <div class="buttons">
                <button class="button is-primary" @click="open()">Edit</button>
                <button class="button is-link" @click="changePassword()">Change Password</button>
                <button
                    class="button is-danger"
                    @click="deleteModal()">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>