<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <template v-if="!submitted">
                <h1 class="title">Change Password</h1>
                <h2 v-if="error" class="subtitle has-text-danger">{{ error }}</h2>
                <form @submit.prevent="submit()">
                    <div v-if="!adminModal" class="field">
                        <label class="label">Current Password</label>
                        <div class="control">
                            <input type="password" class="input" v-model="currentPassword">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">New Password</label>
                        <div class="control">
                            <input type="password" class="input" v-model="newPassword">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Confirm Password</label>
                        <div class="control">
                            <input type="password" class="input" v-model="confirmPassword">
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button
                                :class="{ button: true, 'is-link': true, 'is-loading': submitting }"
                                @click="submit()">
                                Submit
                            </button>
                        </div>
                        <div class="control">
                            <button class="button is-text" type="button" @click="close()">Cancel</button>
                        </div>
                    </div>
                </form>
            </template>
            <div class="content" v-else>
                <h1>Password changed successfully!</h1>
                <button class="button" @click="close()">Close</button>
            </div>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close" @click="close()"></button>
</div>
