<div style="margin-top: 24px">
    <div class="columns is-mobile is-pulled-right is-marginless" style="width: 50%;">
        <div class="column is-four-fifths">        
            <div class="control has-icons-left has-icons-right">
                <input class="input" placeholder="Rider Name" v-model="riderFilter"
                    @change="filterRiders" @keyup="filterRiders">
                <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
                </span>
            </div>
        </div>
        <div class="column">
            <button class="button is-success" @click="openModal()">Add New Rider</button>
        </div>
    </div>
    <h1 class="title">Riders</h1>
    <hr>
    <table class="table is-responsive">
        <tbody>
            <rider-row
                v-for="rider in riders"
                :key="rider.riderId"
                :rider="rider"
                @open="openModal(rider)"
                @deleteModal="deleteRider(rider)">
            </rider-row>
        </tbody>
    </table>
    <div v-if="hasNoRiders" class="content">
        <p>No riders in database. Click Add New Rider above to add one.</p>
    </div>
    <rider-modal 
        v-if="riderModal"
        :rider="rider"
        :deleteModal="deleteModal"
        @close="riderModal = false">
    </rider-modal>
</div>
