<div class="box">
    <strong class="is-size-4">{{ show.name }}</strong>
    <small>{{ formatDate(show.showDate) }}</small>
    <hr>
    <div v-for="info in showClassInfo" class="is-inline-flex">
        <a class="box"
            style="margin: 0 15px"
            @click="showResults()">
            {{ info.showClass.name }}
        </a>
    </div>
    <div class="level">
        <div class="level-left"></div>
        <div class="level-right">
            <div class="buttons">
                <button class="button is-link" @click="open()">Edit Show</button>
                <button
                    class="button is-danger"
                    @click="deleteModal()">
                    Delete Show
                </button>
            </div>
        </div>
    </div>
</div>