<div style="margin-top: 24px">
    <div class="columns is-mobile is-pulled-right is-marginles">
        <div class="column is-8">
            <p>Use Ctrl + F to search for now</p>
        </div>
        <div>
            <button class="button is-success" @click="openModal()">Add New Class</button>
        </div>
    </div>
    <h1 class="title">Classes</h1>
    <hr>
    <table class="table is-responsive">
        <tbody>
            <show-class-row
                v-for="showClass in showClasses"
                :key="showClass.showClassId"
                :showClass="showClass"
                @open="openModal(showClass)"
                @deleteModal="deleteShowClass(showClass)">
            </show-class-row>
        </tbody>
    </table>
    <div v-if="hasNoShowClasses" class="content">
        <p>No classes in database. Click Add New Class above to add one.</p>
    </div>
    <show-class-modal 
        v-if="showClassModal"
        :showClass="showClass"
        :deleteModal="deleteModal"
        @close="showClassModal = false">
    </show-class-modal>
</div>
