<tr>
    <td style="display:none;">
        {{ rider.riderId }}
    </td>
    <td>
        {{ rider.firstName}} {{ rider.lastName}}
    </td>
    <td>
        <button class="button" @click="open()">
            <span class="icon is-small">
                <i class="fas fa-user-edit"></i>
            </span>
        </button>
    </td>
    <td>
        <button class="button" @click="deleteModal()">
            <span class="icon is-small">
                <i class="fas fa-skull"></i>
            </span>
        </button>
    </td>
</tr>